*
!**/
target
!*.rs
!*.py
!*.fa
assets/compiled_rna_fams_*/*
assets/ref_sss_*/*
assets/*consfold*/*
assets/centroidhomfold_*/*
assets/turbofold_*/*
assets/rnafold_*/*
assets/sampled_trnas/*
assets/homologs_of_pri_miR_16_2/*
!Cargo.toml
!.gitignore
!README.md
