*
!**/
target
!*.rs
!*.py
!*.fa
!*.tar.gz
!assets/rfam_seed_stas.sth
!assets/capr_sampled_trnas.dat
assets/compiled_rna_fams*/*
assets/ref_sss*/*
assets/*fold/*
assets/sampled_trnas/*
assets/homologs_of_pri_miR_16_2/*
!Cargo.toml
!.gitignore
!README.md
